/* Стили для подвала */

footer {
  background-color: #333; /* Цвет фона подвала */
  color: #fff; /* Цвет текста в подвале */
  padding: 50px 0; /* Внутренний отступ сверху и снизу в подвале */
}

.footer-container {
  max-width: 1170px; /* Максимальная ширина контейнера подвала */
  margin: auto; /* Центрирование контейнера подвала */
  display: flex; /* Отображение элементов внутри контейнера подвала в виде горизонтальной линии */
  justify-content: space-between; /* Равномерное распределение элементов по горизонтали внутри контейнера подвала */
  flex-wrap: wrap; /* Перенос элементов на новую строку при нехватке места в контейнере подвала */
}

.footer-row {
  display: flex; /* Отображение элементов внутри строки подвала в виде горизонтальной линии */
  flex-basis: 100%; /* Занимаем всю доступную ширину строки подвала */
  flex-wrap: wrap; /* Перенос элементов на новую строку при нехватке места в строке подвала */
  margin-bottom: 30px; /* Отступ снизу для строки подвала */
}

.footer-col {
  flex: 1; /* Равномерное распределение ширины колонок внутри строки подвала */
  margin-right: 20px; /* Отступ справа для колонок внутри строки подвала */
}

.footer-col:last-child {
  margin-right: 0; /* Убираем отступ справа для последней колонки внутри строки подвала */
}

.footer-col h3 {
  font-size: 18px; /* Размер шрифта заголовка колонки подвала */
  margin-bottom: 20px; /* Отступ снизу для заголовка колонки подвала */
}

.footer-col p,
.footer-col ul {
  font-size: 14px; /* Размер шрифта текста и списка в колонке подвала */
  line-height: 1.6; /* Межстрочный интервал текста и списка в колонке подвала */
}

.footer-col ul {
  list-style: none; /* Убираем маркеры списка в колонке подвала */
  padding: 0; /* Убираем отступы вокруг списка в колонке подвала */
  margin: 0; /* Убираем отступы сверху и снизу для списка в колонке подвала */
}

.footer-col ul li {
  margin-bottom: 10px; /* Отступ снизу для пунктов списка в колонке подвала */
}

.footer-col ul li a {
  color: #fff; /* Цвет текста ссылок в колонке подвала */
  text-decoration: none; /* Убираем подчеркивание ссылок в колонке подвала */
}

.footer-bottom {
  background-color: #222; /* Цвет фона нижней части подвала */
  padding: 10px 0; /* Внутренний отступ сверху и снизу в нижней части подвала */
  text-align: center; /* Выравнивание текста в нижней части подвала по центру */
}

.footer-bottom p {
  font-size: 14px; /* Размер шрифта текста в нижней части подвала */
  color: #fff; /* Цвет текста в нижней части подвала */
  margin: 0; /* Убираем отступы вокруг текста в нижней части подвала */
}
